<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--Basic system requirements-->
    <system>
        <window width="640" height="480" title="RPG Demo" />
        <scripting dir="test_assets/scripts" extension="script" />
    </system>
    <!--Default structure values-->
    <default>
        <scene basespeed="200" />
        <actor speed="1" />
    </default>
</configuration>